Zagłosuj na Prowadzącego Roku Wydziału Informatyki i Zarządzania!

Każdego roku na Wydziale Informatyki i Zarządzania wybieramy najlepszego prowadzącego. Oddać głos może każdy student naszego Wydziału.

Kliknięcie w poniższy link przekieruje Cię na stronę na której możesz oddać swój głos. Nie podawaj go nikomu gdyż ważny jest tylko raz i w takiej sytuacji ktoś może oddać głos za Ciebie
