%h1 Prowadzący Roku na Wydziale Informatyki i Zarządzania

%p Poniższa aplikacja służy do przeprowadzania wyborów Najlepszego Prowadzącego na Wydziale Informatyki i Zarządania na Politechnice Wrocławskiej.
%p By oddać głos kliknij w link który został wysłany na Twój studencki adres email :)
